defaults:
  - _self_
  - model: model.yaml
  - datamodule: data.yaml
  - trainer: trainer.yaml
  - callbacks: default.yaml
  - logger: wandb.yaml # set logger here or use command line (e.g. `python train.py logger=tensorboard`)
  - paths: default.yaml


task_name: "train"

checkpoint_path: null

train: True

test: True

seed: null